html, body {
    height: 100%;
    margin: 0;
    background-image: url(images/AIM_UI.png);
    background-position: center center;
    background-size: auto 100%;
}

#aim, #shoot {
    width: 100%;
    display: block;
}

#aim {
    height: 70%;
}

#shoot {
    height: 30%;
}

.input {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    border: none;
}