/*Custom ARCO font*/
@font-face
{
    font-family: "ARCO";
    src: url('fonts/ARCO.ttf');
    color: #fdba23;
}

body
{
    font-family: "ARCO";
    font-size: 1.5em;
    color: #fdba23;
    background-color: #5d9dd3;
    height: 100%;
    margin: 0;
}

#joinGameButton
{
    /*this is actually ARCO font*/
    font-family: wingdings;
    background-image: url('images/UI_JoinButton_ON.png');
    color: #fdba23;
}

#joinGameButton:active
{
    background-image: url('images/UI_JoinButton_PUSHED.png');
}

#gameCodeInput
{
    font-family: ARCO;
}
